@font-face {
    font-family: NorseBold;
    src: url(/assets/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    font-weight: 200;
}

:root{
    --button-color: #596D48;
    --input-border-color: #e5e7eb;
    --input-border-color-invalid: rgb(187, 93, 93);
    --input-border-color-focus: rgb(177, 177, 241);
    --background-color: #e5e7eb;
    --text-primary: #191919;
    --text-inverse: #f2f2f2;
}
body{
    background-color: var(--background-color);
}

.wrapper{
    max-width: 100vw;
    max-height: 100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.left-side{ 
    background-image: url(./assets/leaves.avif);
    background-size: cover;
    height: 100vh;
    width: 50vw;
}
.logo-container{
    position:relative;
    top: 35vh;
    height:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 50%);
    width: 100%;
    padding: 15px 0px;
    
}
.logo-container > img {
    height: 100%;
    
}
.logo-container > h1 {
    font-size: 72px;
    font-family: NorseBold;
    color: var(--text-inverse);
}

.right-side{
    
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 15px;
}
.right-side > p {
    font-size: 36px;
    font-family: sans-serif;
    color: var(--text-primary);
    margin-bottom: 25px;
} 
button {
    background-color: var(--button-color);
    color: var(--text-inverse);
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 20px;
    border: none;
    margin-bottom: 10px;
}
form > fieldset {
    display:flex;
    flex-wrap:wrap;
    background-color: var(--text-inverse);
    border: none;
    border-radius: 3px;
    padding: 15px;
    font-family: sans-serif;
    margin-bottom: 35px;
}
fieldset>p{
    font-size:16px;
    margin-bottom: 15px;
    font-weight: 600;
}
.groupcontainer{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    gap: 20px;
}
.inputgroup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

label{
    font-size: 16px;
    margin-top: 12px;
}

input {
    border: var(--input-border-color), solid, 2px;
    border-radius: 3px;
    font-size: 24px
}
input:focus{
    border: var(--button-color), solid, 2px;
    outline: none;
}
#subbtn{

    font-size: 12px;
}
